
{% extends 'base.html' %}
{% block title %}
바 이름이 들어갑시다.
{% endblock %}
{% block content %}

 <div id="test1">
        <div class="col s12">
            <div class="card">
                <div class="card-image"> 
                    <!--바 이미지 시작-->
                    <img class="responsive-img" src="/static/images/bar.jpg">
                    <!--바 이미지 끝-->
                    <!--바 이름이 들어가면 됩니다-->
                    <span class="card-title">국민대 바</span>
                    <!--바 이름이 들어가면 됩니다 끝-->
                </div>
            </div>
        </div>
    </div>
    
    <div id="test2">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="col s12">
                        <h5 class="header">이 집에서 반응 좋은 술</h5>
                        <hr>
                    </div>

                    <div id="cocktail" class="col s12">
                        <div class="row">
                            <div class="col s6 m7">
                                <div class="card">

                                    <!--칵테일 이미지 시작-->
                                    <div class="card-image"> <img src="/static/images/sample.jpg"> </div>
                                    <!--칵테일 이미지 끝-->
                                    <div class="card-content">
                                        <!--칵테일 이름 시작-->
                                        <h5>칵테일 이름 들어가야댐</h5>
                                        <!--칵테일 이름 끝-->
                                        <!--태그 시작-->
                                        <div class="chip"> 칵테일 </div>
                                        <div class="chip"> 칵테일 </div>
                                        <div class="chip"> 칵테일 </div>
                                        <!--태그 끝-->

                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m7">
                                <div class="card">

                                    <!--칵테일 이미지 시작-->
                                    <div class="card-image"> <img src="/static/images/sample.jpg"> </div>
                                    <!--칵테일 이미지 끝-->
                                    <div class="card-content">
                                        <!--칵테일 이름 시작-->
                                        <h5>칵테일 이름 들어가야댐</h5>
                                        <!--칵테일 이름 끝-->
                                        <!--태그 시작-->
                                        <div class="chip"> 칵테일 </div>
                                        <div class="chip"> 칵테일 </div>
                                        <div class="chip"> 칵테일 </div>
                                        <!--태그 끝-->

                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        
                        <div class="row">
                            <div class="col s6 m7">
                                <div class="card">
                                    <!--칵테일 이미지 시작-->
                                    <div class="card-image"> <img src="/static/images/sample.jpg"> </div>
                                    <!--칵테일 이미지 끝-->
                                    <div class="card-content">
                                        <!--칵테일 이름 시작-->
                                        <h5>칵테일 이름 들어가야댐</h5>
                                        <!--칵테일 이름 끝-->
                                        <!--태그 시작-->
                                        <div class="chip"> 칵테일 </div>
                                        <div class="chip"> 칵테일 </div>
                                        <div class="chip"> 칵테일 </div>
                                        <!--태그 끝-->                     </div>
                                </div>
                            </div>
                            <div class="col s6 m7">
                                <div class="card">
                                    <!--칵테일 이미지 시작-->
                                    <div class="card-image"> <img src="/static/images/sample.jpg"> </div>
                                    <!--칵테일 이미지 끝-->
                                    <div class="card-content">
                                        <!--칵테일 이름 시작-->
                                        <h5>칵테일 이름 들어가야댐</h5>
                                        <!--칵테일 이름 끝-->
                                        <!--태그 시작-->
                                        <div class="chip"> 칵테일 </div>
                                        <div class="chip"> 칵테일 </div>
                                        <div class="chip"> 칵테일 </div>
                                        <!--태그 끝-->

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}

