
{% extends 'base.html' %}
{% block title %}
바 이름이 들어갑시다.
{% endblock %}
{% block content %}
<div id="test2" style="margin-top: -28px;"> <img class="responsive-img" src="image/bar.jpg">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="col s12" style="margin-top: 3%; border-bottom: 1px solid darkgray">태그</div>
                    <div class="col s12 tag" style="padding-top: 8px;"><a style="margin-left: 0px;">칵테일</a><a>칵테일</a><a>칵테일</a><a>칵테일</a></div>
                    
                    
                    <div class="col s12" style="border-bottom: 1px solid darkgray; margin-top: 3%;">이 집에서는 이게 짱</div>
                    <div id="cocktail" class="col s12">
                        <div class="row">
                            <div class="col s6 m7">
                                <div class="card">
                                    <div class="card-image"> <img src="./image/sample.jpg"> <span class="card-title">칵테일1</span> </div>
                                    <div class="card-content">
                                        <p>    <div class="tag"><a>칵테일</a><a>칵테일</a><a>칵테일</a></div></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m7">
                                <div class="card">
                                    <div class="card-image"> <img src="./image/sample.jpg"> <span class="card-title">칵테일2</span> </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s6 m7">
                                <div class="card">
                                    <div class="card-image"> <img src="./image/sample.jpg"> <span class="card-title">칵테일1</span> </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col s6 m7">
                                <div class="card">
                                    <div class="card-image"> <img src="./image/sample.jpg"> <span class="card-title">칵테일2</span> </div>
                                    <div class="card-content">
                                        <p>I am a very simple card. I am good at containing small bits of information.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>

{% endblock %}


 

