{% extends 'base.html' %}
{% block title %}
칵테일 이름이 들어갈보자?
{% endblock %}
{% block content %}
    <div id="test2" style="margin-top: -28px;">
        <!--술 이미지 넣어주세여-->
        <img class="responsive-img" src="/static/image/sool.jpg">
        <!--술 이미지 넣어주세여 끝-->
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <div class="col s12" style="border-bottom: 1px solid darkgray">설명</div>
                    <!--설명 넣어주세여-->
                    <div class="col s12" style="font-size: 18px; word-break:break-all; margin-top: 1%;">ABJKDLJGLKJLKSJEGLKJSELKGJKLSEJGLKSEJAJGKLSJGLKSJGS</div>
                    <!--설명 넣어주세여 끝-->
                    
                    
                    <div class="col s12" style="margin-top: 3%; border-bottom: 1px solid darkgray">태그</div>
                    <!--태그 넣어주세여-->
                    <div class="col s12 tag" style="padding-top: 8px;"><a style="margin-left: 0px;">칵테일</a><a>칵테일</a><a>칵테일</a><a>칵테일</a></div>
                    <!--태그 넣어주세여 끝-->
                    
                    
                    <div class="col s12" style="border-bottom: 1px solid darkgray; margin-top: 3%;">재료</div>
                    <!--재료 넣어주세여-->
                    <div class="col s12" style="font-size: 18px; word-break:break-all; margin-top: 1%;">ABJKDLJGLKJLKSJEGLKJSELKGJKLSEJGLKSEJAJGKLSJGLKSJGS</div>
                    <!--재료 넣어주세여 끝-->
                    
                    
                    

                    <div class="col s12" style="border-bottom: 1px solid darkgray; margin-top: 3%;">비슷한 술 추천</div>
                    <div class="col s12 tag" style="padding-top: 8px;">
                        <!--추천술 넣어주세여-->
                        <img class="col s6" src="image/sample.jpg">
                        <img class="col s6" src="image/sample.jpg">
                        <!--추천술 넣어주세여 끝-->
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}