{% extends 'base.html' %}
{% block title %}
    로그인
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a href="#mapview" class="active">지도</a></li>
                <li class="tab col s6"><a href="#cocktail">추천 칵테일</a></li>

                <div class="indicator"></div>
            </ul>
            <div class="tabs-content initialized">
                <div id="mapview" style="height: 500px;">
                    <div id="map" style="width: 100%;height: 500px"></div>
                </div>
                <div id="cocktail" class="col s12">
                    {% for cocktail in cocktails %}
                        <div class="card">
                            <div class="card-image">
                                <a href="/cocktails/{{ cocktail.pk }}"> <img src="{{ cocktail.image.url }}"></a>
                                <span class="card-title">{{ cocktail.name }}</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    {{ cocktail.description }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function () {
            function load_bar(map) {
                bound = map.getBounds();
                $.get("/api/bars/", function (data) {
                    data.forEach(function (element, index, array) {
                        var item_loc = new google.maps.LatLng(element.y, element.x);
                        var item_marker = new google.maps.Marker({position: item_loc});
                        item_marker.setMap(map);
                    });
                });
                var item_loc = new google.maps.LatLng(37.5675451, 126.9773366);
                var item_marker = new google.maps.Marker({
                    position: item_loc,
                    icon: '/static/images/cocktail-icon.png'
                });
                item_marker.setMap(map);
            }


            var mapProp = {
                center: new google.maps.LatLng(37.5675451, 126.9773356),
                zoom: 14
            };
            var map = new google.maps.Map(document.getElementById('map'), mapProp);

            google.maps.event.addDomListener(window, 'load', function () {
                load_bar(map)
            });
            map.addListener('center_changed', function () {
                load_bar(map)
            });
            map.addListener('zoom_changed', function () {
                load_bar(map)
            });
        });
    </script>
{% endblock %}