{% extends 'base.html' %}
{% block title %}
    칵테일을 콕!
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6"><a href="#mapview" class="active">지도</a></li>
                <li class="tab col s6"><a href="#cocktail">추천 칵테일</a></li>

                <div class="indicator"></div>
            </ul>
            <div class="tabs-content initialized">
                <div id="mapview" style="height: 500px;">
                    <div id="map" style="width: 100%;height: 500px"></div>
                    <div class="row col s12" id="barList">
                    </div>
                </div>
                <div id="cocktail" class="col s12">
                    {% for cocktail in cocktails %}
                        <div class="card">
                            <div class="card-image">
                                <a href="/cocktails/{{ cocktail.pk }}"> <img src="{{ cocktail.image.url }}"></a>
                                <span class="card-title">{{ cocktail.name }}</span>
                            </div>
                            <div class="card-content">
                                <p>
                                    {{ cocktail.description }}
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        function addList(data) {
            $("#barList").html('');
            var output = '';
            $.each(data, function (index, value) {
                //add each value to the output buffer (we also have access to the other properties of this object: id, start, and end)
                console.info(value);
                output += '<div><h3>'+value.name+'</h3><li>' + value.phone + '</li><a href="/bars/'+value.pk+'"><img class="responsive-img" src="'
                    +value.image+
                    '" /></a></div>';
            });
            $("#barList").append(output)
        }
        $(document).ready(function () {
            function load_bar(map) {
                var bounds = map.getBounds();
                var ne = bounds.getNorthEast(); // LatLng of the north-east corner
                var sw = bounds.getSouthWest(); // LatLng of the south-west corder
                $.get('/api/bars/', {
                    'ne': ne.lat() + ',' + ne.lng(),
                    'sw': sw.lat() + ',' + sw.lng()
                }, function (data) {
                    data.forEach(function (element, index, array) {
                        var item_loc = new google.maps.LatLng(element.lng, element.lat);
                        var item_marker = new google.maps.Marker({
                            position: item_loc,
                            icon: '/static/images/cocktail-icon.png'
                        });
                        item_marker.setMap(map);

                    });
                    addList(data);
                });
            }

            var mapProp = {
                center: new google.maps.LatLng(37.5675451, 126.9773356),
                zoom: 14
            };
            var map = new google.maps.Map(document.getElementById('map'), mapProp);

            google.maps.event.addDomListener(window, 'load', function () {
                load_bar(map)
            });
            map.addListener('center_changed', function () {
                load_bar(map)
            });
            map.addListener('zoom_changed', function () {
                load_bar(map)
            });
        });
    </script>
{% endblock %}