<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href=/static/css/style.css rel="stylesheet">

    <style>
        .tag a {
            border: 1px solid blue;
            padding: 2px 10px;
            margin-left: 5px;
        }

        #logo {
            margin: 4px;
        }
       html { height: 100%; } body { min-height: 100%; background-image: url('/static/images/bg.png'); background-size: cover;background-repeat: no-repeat; }
       #full { position: absolute; top: 0; bottom: 0; width: 100% }
       #tmp { height: 15% }
    </style>
</head>
<body>
  <form action="next" method="post">
    <div id="full" class="center-align">
      <div id="tmp"></div>
      <div style="height: 12%; background-image: url('/static/images/coccock_logo.png'); background-size: contain;background-repeat: no-repeat;background-position: center;"></div>
      <div id="tmp"></div>
      <div id="tmp">
        <input class="input" name="name" style="width: 40%;color: #ffffff;margin-bottom: 0px" placeholder="Name"></br>
        <input class="input" name="username" style="width: 40%;color: #ffffff;margin-bottom: 0px" placeholder="ID"></br>
        <input class="input" name="password" style="width: 40%;color: #ffffff;margin-bottom: 0px" placeholder="Password"></br>
      </div>
      <div id="tmp"></div>
      <div id="tmp"><input type="submit" value="Login" style="width: 50%;font-weight: lighter;color: #ffffff;border: 2;solid: #ffffff;background-color: rgba(255, 255, 255, 0);padding: 8px"></div>
    </div>
  </form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDncsvHHB7lSi_J0YrQ5PnBWNSa7XBiBXA"></script>
</body>
</html>
